<meta charset="UTF-8">
<title>ClickTime Challenge</title>

<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/javascripts/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="/javascripts/resource.min.js"></script>
<script src="/javascripts/index.js"></script>
