<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Tasks
              <small>dashboard</small>
          </h1>
          <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i><a href="#/"> Dashboard</a>
              </li>
              <li>
                <i class="fa fa-tasks"></i><a href="#/tasks"> Tasks</a>
              </li>
          </ol>
      </div>
  </div>
<div class="bs-example" data-example-id="table-within-panel">
   <div class="panel panel-default">
        <div class="alert alert-info"><p>Click on any tasks to display a modal with the corresponding jobs and clients.</p></div>
      <div class="panel-body">
        <div class="col-md-4">
          <label>Search task by name</label>
          <input ng-keyup="keyUp($event.keyCode)" id="search" class="form-control" ng-model="search" placeholder="Enter task..."></input>
          </br>
          <button ng-show="enter" ng-click="goToTask()" class="btn btn-success">Press Enter</button>
        </div>
      </div>
      <table class="table">
         <thead>
            <tr>
               <th>Task Name</th>
               <th>Recent</th>
               <th>Active</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="task in tasks">
              <td scope="row" style="cursor:pointer;"><a href="#/tasks/{{task.TaskID }}">{{ task.Name }}</a></td>
              <td>{{ task.Recent }}</td>
              <td>{{ task.Active }}</td>
            </tr>
         </tbody>
      </table>
   </div>
 </div>
</div>
