<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Tasks
              <small>dashboard</small>
          </h1>
          <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i><a href="#/">Dashboard</a>
              </li>
          </ol>
      </div>
  </div>
<div class="bs-example" data-example-id="table-within-panel">
   <div class="panel panel-default">
      <table class="table">
         <thead>
            <tr>
               <th>Jobs</th>
               <th>Number</th>
               <th>Recent</th>
               <th>Active</th>
               <th>Billable</th>
               <th>CanEdit</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="job in jobs">
              <td>{{ job.Name }}</td>
              <td>{{ job.Number }}</td>
              <td>{{ job.Recent }}</td>
              <td>{{ job.Active }}</td>
              <td>{{ job.Billable }}</td>
              <td>{{ job.CanEdit }}</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="panel panel-default">
      <table class="table">
         <thead>
            <tr>
              <th>Client Name</th>
              <th>Recent</th>
              <th>Active</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="client in clients">
              <td>{{ client.Name }}</td>
              <td>{{ client.Recent }}</td>
              <td>{{ client.Active }}</td>
            </tr>
         </tbody>
      </table>
    </div>
 </div>
</div>
